.split-a,
.split-b {
    background-color: #efeff4;
      position: relative;
      box-sizing: border-box;
      width: 100%;
      height: 55px;
      padding: 8px 16px;
      p {
        line-height: 18px;
        color: #7d7d82;
        span {
          color: #26a2ff;
        }
      }
    }
    .split-a {
      height: 55px;
      .specail-a {
        position: absolute;
        bottom: 0;
      }
    }
    .split-b {
      height: 95px;
      .last-p {
        position: absolute;
        bottom: 0;
      }
    }