@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?hgkmhj');
  src: url('../fonts/icomoon.eot?hgkmhj#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?hgkmhj') format('truetype'),
    url('../fonts/icomoon.woff?hgkmhj') format('woff'),
    url('../fonts/icomoon.svg?hgkmhj#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-up-alt1:before {
  content: "\e900";
}

.icon-bubbles2:before {
  content: "\e96d";
}

.icon-attachment:before {
  content: "\e9cd";
}

.icon-circle-down:before {
  content: "\ea43";
}

.icon-shield:before {
  content: "\f132";
}

.icon-group_add:before {
  content: "\e901";
}

.icon-person_add:before {
  content: "\e905";
}

.icon-volume:before {
  content: "\e902";
}