
$blue: #007aff;
$gray: #e9e9e9;
$graySplit: #efeff4;
$grayTabBgc: #1c1c1e;
$border: #d2d1d5;
$title: #676767;
$newsBgc: #f1f1f4;
$lightGray: #b4b8b9d3;
$grayTab: #929292;
$backgroundColor: #f6f7f9;
$friendPre: #f5f6f9;
$friendSplit: #f5f6fa;
// $otherMsgColor: #f3f3f3;
// $myMsgColor: #daf4fe;
// $warnRed: #e44545;
// $lightBruce: #f3f8ff;
$lightBgc: #1c1c1e;
$deepBgc: #0f0f0f;
$blueBgc: #3477f5;
$fontGray: #a4a3a8;
$fontWhite: #fff;
$fontBlack: #000;