@import './color.scss';


.van-hairline::after {
  border-color: #d2d1d5;
}
.van-nav-bar__content{
  height: 40px;
}
.van-nav-bar__title{
  color: #fbfbfc;
  
}
.van-tab{
  color: $fontGray;
}
.van-tab--active{
  color: $blueBgc;
}
.van-tabs__line{
  background-color: $blueBgc;
}
// [class='van-hairline--bottom']::after{
//   border: 1px solid $fontGray;
// }
.van-badge{
  background-color: $blueBgc;
}

.van-badge--dot{
  background-color: $blueBgc;
}
.van-search{
  background-color: $lightBgc;
}
.van-nav-bar{
  background-color: $lightBgc;
}
.van-field__control{
  color: $fontWhite;
}
.van-dialog{
  background-color: $lightBgc;
  color: $fontGray;
  .van-button {
    background-color: $lightBgc;
    color: $fontGray;
  }
}

.van-field__left-icon {
  color: $fontGray;
}



.van-field__left-icon{
  color: $fontGray;
}
.van-search{
  background-color: $lightBgc;
}
.van-search__content{
  background-color: $deepBgc;
}
.van-field__control::placeholder{
  color: $fontGray;
}
.van-search__action{
  color: $fontWhite;
}
input {
  border: 0;
}